<div class="container-fluid select-fields">
  <div class="row" style="padding-left: 1em">
    <h3>Choose country and city to get weather forecast:</h3>
  </div>
  <div class="row">
      <mat-form-field appearance="standard" style="padding-left: 1em">
        <mat-select placeholder="Select a Country" [(value)]="selectedCountry"
                    (selectionChange)="onSelectedCountry($event.value)">
          <mat-option *ngFor="let country of countries$ | async"
                      value="{{country.id}}">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" style="padding-left: 1em">
        <mat-select (selectionChange)="onSelectedCity($event.value)" placeholder="Select a City" [disabled]="selectedCountry == null">
          <mat-option *ngFor="let city of cities$ | async"
                      value="{{city.id}}">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>

  </div>
</div>
